node_modules
dist
dist-ssr
coverage

.eslintcache
*.tsbuildinfo
*.log
.env
.env.*
*.local

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.sw?

cypress/videos/
cypress/screenshots/
__screenshots__/

*.timestamp-*-*.mjs
